body{
    background-color: #8198ff;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(224, 240, 3);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-weight: 600;
}

.body1{
    margin-left: 5%;
}

nav > ul{
    list-style: none;
    background-color: rgb(0, 102, 255);
    display: flex;   
    gap: 1%;
    margin: 1%;
    padding: 0%;
    width: auto; /* larghezza della linea colorata sullo schermo*/
}

nav > ul > li {
    background-color: rgb(0, 102, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px;
    margin-left: 1%;
}

nav > ul > li > a{
    text-decoration: none;
    color: white
}

nav ul li a:hover{
    background-color: rgb(81, 151, 255);
    
}