

/* CSS file CONTATTI */

.body1{
    margin-left: 5%;
}

.part1{
    display: flex; /* flex mette in riga gli elementi in quel contenitore */
    align-items: normal;
    justify-content: space-between;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

/* CSS file INDEX */ 

.body_left{
    flex: 1;
}

.body_right{
    flex: 1;
}

.body_right img{
    width: 100%;
    height: auto;
    display: block;
}

ul.servizi{
    font-size: 135%;
}

section div p{
    font-weight: 600;
}


/* CSS file SERVIZI*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 16px;
}

section.servizi{
    margin-left: 5%;
}

article{
    min-height: 400px;
    display:flex;
    flex-direction:column;
}

article p{
    
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

article img{
  max-width: 500px;   /* scegli tu */
  width: 100%;
  height: auto;
}

section div article p{
    margin: 5px 0 5px;
}

/* PER TUTTI I FILE */
body{
    background-color: #8198ff;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul{
    list-style: none;
    background-color: rgb(0, 102, 255);
    display: flex;   
    gap: 1%;
    margin: 1%;
    padding: 0%;
    width: auto; /* larghezza della linea colorata sullo schermo*/
}

nav > ul > li {
    background-color: rgb(0, 102, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px;
    margin-left: 1%;
}

nav > ul > li > a{
    text-decoration: none;
    color: white
}

nav ul li a:hover{
    background-color: rgb(81, 151, 255);
    
}

h1{
    color: rgb(113, 255, 201);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(224, 240, 3);
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color: rgb(255, 195, 156);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 6px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

footer{
    background-color: #4b5daf;
    display: block;
    color:beige;
}