body{
    background-color: #8198ff;
}

nav > ul{
    list-style: none;
    background-color: rgb(0, 102, 255);
    display: flex;   
    gap: 1%;
    margin: 1%;
    padding: 0%;
    width: auto; /* larghezza della linea colorata sullo schermo*/
}

nav > ul > li {
    background-color: rgb(0, 102, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px;
    margin-left: 1%;
}

nav > ul > li > a{
    text-decoration: none;
    color: white
}

nav ul li a:hover{
    background-color: rgb(81, 151, 255);
    
}

h1{
    color: rgb(113, 255, 201);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(224, 240, 3);
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.part1{
    display: flex; /* flex mette in riga gli elementi in quel contenitore */
    align-items: normal;
    justify-content: space-between;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.body_left{
    flex: 1;
}

.body_right{
    flex: 1;
}

.body_right img{
    width: 100%;
    height: auto;
    display: block;
}

.servizi{
    font-size: 135%;
}