body{
    background-color: lightblue;
}

h1{
    color: rgb(6, 163, 103);
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    color: rgb(224, 240, 3);
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}