body{
    background-color: lightblue;
}
h1{
    color: rgb(6, 163, 103);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(224, 240, 3);
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

.part1{
    display: flex; /* flex mette in riga gli elementi in quel contenitore */
    align-items: normal;
    justify-content: space-between;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.body_left{
    flex: 1;
}

.body_right{
    flex: 1;
}

.body_right img{
    width: 100%;
    height: auto;
    display: block;
}